<body>
    <div>
        <h2>Articles</h2>
        <div>
            <h3>GET</h3>
            <label>Get Article</label>
            <p>To get Article you should request <b>GET: Article/id</b>, where <b>id</b> is unique number of article</p>
        </div>
        <div>
            <h3>POST</h3>
            <label>Add new article</label>
            <p>To create a new article you should request <b>POST: Article</b> and in the body of this request you shoud write articles fields in JSON style.</p>
            <p>For Example: {"title": "Home work", "text": "Article text" ........ }. If its OK you resive a status code OK.</p>
        </div>
        <div>
            <h3>Delete</h3>
            <label>Remove article</label>
            <p>To remove article you shoul request <b>DELETE: Article/id</b>, where <b>id</b> is unique number of article. If its OK you resive a status code OK.</p>
        </div>
    </div>
    <div>
        <h2>Topics</h2>
        <div>
            <h3>GET</h3>
            <label>Get Topic</label>
            <p>To get Topic you should request <b>GET: Topic/id</b>, where <b>id</b> is unique number of topic</p>
        </div>
        <div>
            <h3>POST</h3>
            <label>Add new Topic</label>
            <p>To create a new topic you should request <b>POST: Topic</b> and in the body of this request you shoud write topic fields in JSON style.</p>
            <p>For Example: {"name": "Topic name"}. If its OK you resive a status code OK.</p>
        </div>
        <div>
            <h3>PUT</h3>
            <label>Update Topic</label>
            <p>To update topic you should to request <b>PUT: Topic</b> and in the body of this request you shoud write topic fields in JSON style.</p>
            <p>For Example: {"id":"Topic id", "name": "Topic name"}. If its OK you resive a status code OK.</p>
        </div>
        <div>
            <h3>Delete</h3>
            <label>Remove Topic</label>
            <p>To remove topic you shoul request <b>DELETE: Topic/id</b>, where <b>id</b> is unique number of topic. If its OK you resive a status code OK.</p>
        </div>
    </div>
    <div>
        <h2>Authors</h2>
        <div>
            <h3>GET</h3>
            <label>Get Author</label>
            <p>To get Author you should request <b>GET: Author/id</b>, where <b>id</b> is unique number of Author</p>
        </div>
        <div>
            <h3>POST</h3>
            <label>Add new Author</label>
            <p>To create a new Author you should request <b>POST: Author</b> and in the body of this request you shoud write Author fields in JSON style.</p>
            <p>For Example: {"name": "Author name", "email": "Author email" ....... }. If its OK you resive a status code OK.</p>
        </div>
        <div>
            <h3>PUT</h3>
            <label>Update Author</label>
            <p>To update Author you should to request <b>PUT: Author</b> and in the body of this request you shoud write Author fields in JSON style.</p>
            <p>For Example: {"id":"Author id", "name": "Author name" ......... }. If its OK you resive a status code OK.</p>
        </div>
        <div>
            <h3>Delete</h3>
            <label>Remove Author</label>
            <p>To remove topic you shoul request <b>DELETE: Author/id</b>, where <b>id</b> is unique number of Author. If its OK you resive a status code OK.</p>
        </div>
    </div>
</body>