@using CourseWork.Models.SiteManagement;

@model ArticleManagementViewModel

<div>
    @if (Model.Articles.Any())
    {
        foreach (var article in Model.Articles)
        {
            <div class="card mb-3" style="max-width: 100%;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img class="card-img-overlay flex-fill" style="height: 100%; width: 100%; object-fit:contain;" src="data:image/jpeg;base64,@Convert.ToBase64String(article.ImageBytes)" alt="ArticleImage">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"><a class="card-link badge-light" asp-action="" asp-controller="">@article.Title</a></h5>
                            <p class="card-text">@article.Text</p>
                        </div>
                        <div class="card-footer d-flex justify-content-between">
                            <ul type="None" class="m-0 p-2 d-sm-flex">
                                <li>12.12.2020 13:13</li>
                                <li class="ml-2">slava</li>
                            </ul>    
                            <button class="btn btn-outline-primary">Approve</button>
                            <button class="btn btn-outline-danger">Remove</button>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <h2>There are no article to approve</h2>
    }
</div>