@using CourseWork.Models.SiteManagement;

@model ArticleManagementViewModel

<div>
    @if (Model.Articles.Any())
    {
        <div>
            <div>

            </div>
            <div>
                <span></span>
                <ul class="d-inline">
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </div>
    }
    else
    {
        <span>wdqeftrhyt</span>
    }
</div>