@model CourseWork.Models.AccountModels.AccountAuthenticateValidation
@{
    ViewData["Title"] = "Login";

}

<div class="d-flex justify-content-center align-content-center">
    <form class="shadow mt-5 p-4" method="post" asp-action="Login" asp-controller="Account" asp-antiforgery="true">
        <h1>Log In</h1>
        <a asp-action="Register" asp-controller="Account">Registration</a>
        <div asp-validation-summary="ModelOnly"></div>
        <table>
            <tr class="form-group">
                <td>
                    <label asp-for="Email">Enter Email</label>
                </td>
                <td>
                    <input class="form-control" type="text" asp-for="Email" />
                    <span asp-validation-for="Email" />
                </td>
            </tr>
            <tr class="form-group">
                <td>
                    <label asp-for="Password">Enter Password</label>
                </td>
                <td>
                    <input class="form-control" type="password" asp-for="Password" />
                    <span asp-validation-for="Password" />
                </td>
            </tr>
        </table>
        <div class="form-group d-flex justify-content-center mt-2">
            <input type="submit" value="Войти" class="btn btn-outline-dark" />
        </div>
    </form>
</div>